{{ if or (.Prev) (.Next) }}
{{ $currentSection := .Section }}
<nav class="pagination is-centered">
	{{- with .Prev }}
  {{- if eq $currentSection .Section }}
	<a class="pagination-previous" href="{{ .URL }}">
    <span class="icon">
      <i class="fa fa-angle-double-left"></i>
    </span>
    &nbsp;{{ .Title | truncate 20 }}
  </a>
  {{- end }}
	{{- end }}

	{{- with .Next }}
  {{ if eq $currentSection .Section }}
	<a class="pagination-next" href="{{ .URL }}">
    {{ .Title | truncate 20 }}&nbsp;
    <span class="icon">
      <i class="fa fa-angle-double-right"></i>
    </span>
  </a>
  {{- end }}
	{{- end }}
</nav>
{{ end }}