{{ if or (.PrevInSection) (.NextInSection) }}
<nav class="pagination is-centered">
  {{- with .PrevInSection }}
	<a class="pagination-next" href="{{ .URL }}">
    {{ .Title | truncate 20 }}&nbsp;
    <span class="icon">
      <i class="fa fa-angle-double-right"></i>
    </span>
  </a>
	{{- end }}

	{{- with .NextInSection }}
	<a class="pagination-previous" href="{{ .URL }}">
    <span class="icon">
      <i class="fa fa-angle-double-left"></i>
    </span>
    &nbsp;{{ .Title | truncate 20 }}
  </a>
	{{- end }}
</nav>
{{ end }}