<nav class="nav">
  <div class="nav-left">
    <a href="/" class="nav-item">
      {{ .Site.Title | upper }}
    </a>
    {{- if .Site.Menus.main }}
		{{- range sort .Site.Menus.main }}
		<a class="nav-item" href="{{ .URL }}">{{ .Name | upper }}</a>
		{{- end }}
		{{- end }}
  </div>

  <div class="nav-right">
    {{- if .Site.Params.widgets.social }}
    {{- with .Site.Params.widgets.social_twitter }}
    <a class="nav-item" href="//twitter.com/{{ . }}">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    {{- end }}
    {{- with .Site.Params.widgets.social_github }}
    <a class="nav-item" href="//github.com/{{ . }}">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    {{- end }}
    {{- end }}
  </div>
</nav>